<app-header></app-header>
<div class="card border-primary mt-5">
    <div class="card-header">{{ 'role.viewTitle' | translate }}</div>
    <div class="card-body text-primary">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">{{ 'role.title' | translate }}</h5>
            <button class="btn btn.rounded btn-success" type="button" [routerLink]="['/manolito/roles/crear']" *ngIf="authService.login.permissions.includes('ROLE_CREAR ROLES')">
              {{ 'role.btnCreateTitle' | translate }}</button>
        </div>
        <app-filtros [vista]="2" [route]="this.route"></app-filtros>
        <table class="table table-bordered table-responsive-md">
            <thead>
                <tr>
                    <th (click)="ordenation('name')" class="text-center align-middle"> {{ 'role.colNameTitle' | translate }}
                        <ng-container class="input-group-append" *ngIf="this.ordenationBy == 'name' else notOrder">
                            <img *ngIf="orderName" src='assets/imgs/abajo_orden.png' style="width: 15px; height: 15px; cursor:pointer">
                            <img *ngIf="!orderName" src='assets/imgs/arriba_orden.png' style="width: 15px; height: 15px; cursor:pointer">
                        </ng-container>
                    </th>
                    <th class="text-center align-middle"> {{ 'role.colNumUsersTitle' | translate }}</th>
                    <th class="text-center align-middle"> {{ 'role.colPermissionsTitle' | translate }}</th>
                    <th class="text-center align-middle" *ngIf="authService.login.permissions.includes('ROLE_MODIFICAR ROLES')">
                        {{ 'role.colEditTitle' | translate }}</th>
                    <th class="text-center align-middle" *ngIf="authService.login.permissions.includes('ROLE_ELIMINAR ROLES')">
                        {{ 'role.colDeleteTitle' | translate }}</th>
                </tr>
                <ng-template #notOrder>
                    <img src='assets/imgs/abajo.png' style="width: 15px; height: 15px; cursor:pointer">
                </ng-template>
            </thead>
            <tbody>

                <tr *ngFor="let role of roles" scope="row">
                    <td class="text-center align-middle" name="roleName" [(ngModel)]="roleName" #1roleName="ngModel" ngDefaultControl>{{role.name}}</td>
                    <td class="text-center align-middle">{{role.usersData.length}}</td>

                    <!-- T2017-JMM-18/11/2019 -->
                    <td *ngIf="role.permissions.length != 1">
                        <div class="text-center" data-toggle="modal" data-target="#modalList" (click)="getRolesPermissions(role.permissions)">
                            <ul style="padding:0px; margin: 0px;" scope="row">
                                <li style="cursor: pointer; list-style: none;">{{role.permissions.length}}</li>
                            </ul>
                        </div>

                        <!-- Modal -->
                        <app-modal [numList]="1" [list]="permissions" #Permisions></app-modal>
                    </td>
                    <td *ngIf="role.permissions.length == 1" class="text-center">
                        <ul style="padding:0px; margin: 5px 0px;" *ngFor="let permission of role.permissions" scope="row">
                            <li style="list-style: none;">{{permission.name.substring(5)}}</li>
                        </ul>
                    </td>

                    <td class="text-center align-middle" *ngIf="authService.login.permissions.includes('ROLE_MODIFICAR ROLES')">
                        <button type="button" name="edit" [routerLink]="['/manolito/roles/modificar',role.id]" class="btn btn-primary btn-sm" *ngIf="!isRoleAdmin(role.name) && !hasRole(role) && (authService.login.permissions.includes('ROLE_MODIFICAR ROLES'))">
                              {{ 'role.btnEditTitle' | translate }}</button>
                    </td>
                    <td class="text-center align-middle" *ngIf="authService.login.permissions.includes('ROLE_ELIMINAR ROLES')">
                        <button type="button" name="delete" (click)='delete(role)' class="btn btn-danger btn-sm" *ngIf="!isRoleAdmin(role.name) && !hasRole(role) && (authService.login.permissions.includes('ROLE_ELIMINAR ROLES'))">
                              {{ 'role.btnDeleteTitle' | translate }}</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-paginator class="paginator" *ngIf="paginator" [paginator]="paginator" [route]="this.route"></app-paginator>

    </div>
</div>
